<div class="library-wrapper">
    <header class="library-header">
      <app-top></app-top>
    </header>
  
    <main class="library-main flex flex-row align-items-center justify-content-center">
      <section class="library-icons">
        <img class="icon" src="assets/layout/images/books1.png" alt="books1">
      </section>
  
      <section class="library-content flex flex-column justify-content-center align-items-center">
        <h1 class="library-title">
          Discover Your Next Favorite Book at <br><span class="highlight">Our Online Library</span>
        </h1>
        <p class="library-description">
          Dive into a world of knowledge and entertainment with our diverse collection of books and resources.
        </p>
        <button class="btn-get-started mt-5" [routerLink]="['admin/books']">Get Started</button>
      </section>
  
      <section class="library-icons">
        <img class="icon" src="assets/layout/images/books2.png" alt="books2">
      </section>
    </main>

    <!--
    <svg class="library-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#071F30" d="M0,96L40,128C80,160,160,224,240,224C320,224,400,160,480,149.3C560,139,640,181,720,170.7C800,160,880,96,960,106.7C1040,117,1120,203,1200,218.7C1280,235,1360,181,1400,154.7L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
    </svg>
    -->
    
  </div>
  

<!--


<div class="main">
    <app-main></app-main>
</div>

<footer>
    <app-footer></app-footer>
</footer>

-->